h1 {
color: #faf37f;
  font-size: 3em;
  font-family: sans-serif;
  padding: 20px;
  text-transform: uppercase;
 
}

a:link {
text-decoration: none;
  color: #000;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

li {
display: inline-block;
 padding: 10px;
}

.slogan {
color: #faf37f;
  font-family: "Comic Sans MS", cursive, sans-serif;
  padding: 20px;

}

.main-header,
.main-footer {
  background-color: #000;
  
  
}


.tab {
display: inline-block;
  width: 70px;
  background-color: #faf37f;
  padding: 5px;
  text-align: center;
  text-transform: uppercase;
}


.main-nav {
text-align: right;
  padding: 5px 10px;
  
}

.main-content {
width: 50%;
  height: 50%;
  background-color: white;
  margin: 0 25% 0;
  text-align: center;
  padding: 40px;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.experience-list {
list-style-type: none;
  display: inline-block
}

.learn-list {
list-style-type: none;
  display: inline-block;
}

.main-footer {
background-color: #faf37f
    position: absolute;
  font-family: "Comic Sans MS", cursive, sans-serif;
  color: #faf37f;
  background-color: #000;
  padding: 10px 40px;
  font-size: 0.7em;
  
}

.contact {
text-align: right;
}

.contact-list {
text-align: right;
  list-style-type: none;
  display: block;
}
